# Virtual Environment
myvenv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# ML Artifacts
artifacts/
*.pkl
*.h5
*.csv

# OS
.DS_Store
Thumbs.db